<!doctype html>
<html lang='en'>

    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Boolzapp M1</title>
        <link rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
            integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
            crossorigin='anonymous' referrerpolicy='no-referrer' />
        <link href='./assets/css/style.css' rel='stylesheet'>
    </head>

    <body class="debug">
        <div id='app'>
            <div class="wrapper">
                <div class="left">
                    <div class="user">
                        <div class="me">
                            <div class="avatar">
                                <img
                                    :src="`./assets/img/avatar${me.avatar}.jpg`"
                                    alt>
                            </div>
                            <div class="name">{{me.name}}</div>
                        </div>
                        <div class="actions">
                            <i class="fa-solid fa-circle-notch fa-lg fa-fw"></i>
                            <i class="fa-solid fa-comment fa-lg  fa-fw"></i>
                            <i class="fa-solid fa-ellipsis-v fa-lg fa-fw"></i>
                        </div>
                    </div>
                    <!-- /.user -->
                    <div class="notifications">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash fa-lg fa-fw"></i>
                        </div>
                        <div class="text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">
                                Attiva notifiche desktop
                            </a>
                        </div>
                    </div>
                    <!-- /.notifications -->
                    <div class="searcharea"></div>
                    <!-- /.searcharea -->
                    <div class="contacts">
                        <div class="contact"
                            :class="index === activeContact ? 'active' : ''"
                            v-for="(contact, index) in contacts"
                            @click="activeContact= index">
                            <div class="avatar">
                                <img
                                    :src="`./assets/img/avatar${contact.avatar}.jpg`"
                                    alt>
                            </div>
                            <div class="text">
                                {{contact.name}}
                            </div>
                        </div>

                    </div>
                    <!-- /.conacts -->
                </div>
                <!-- /.left -->
                <div class="right">
                    <div class="active_contact">

                        <div class="contact_details">
                            <div class="avatar">
                                <img
                                    :src="`./assets/img/avatar${me.avatar}.jpg`"
                                    alt>
                            </div>
                            <div class="name">{{me.name}}</div>
                        </div>
                        <div class="actions">
                            <i class="fa-solid fa-circle-notch fa-lg fa-fw"></i>
                            <i class="fa-solid fa-comment fa-lg  fa-fw"></i>
                            <i class="fa-solid fa-ellipsis-v fa-lg fa-fw"></i>
                        </div>

                    </div>
                    <!-- /.active_contact -->
                    <div class="messages">
                        <div :class="message.status"
                            v-for="message in contacts[activeContact].messages">
                            {{ message.message }}
                            <span class="message-date">{{ message.date }}</span>
                        </div>

                    </div>
                    <!-- /.messages -->
                    <div class="toolbar">
                        <div class="emoji">
                            <i class="fa-solid fa-smile    "></i>
                        </div>
                        <input v-model="newMessage" type="text"
                            @keydown.enter="sendMessage">

                        <div class="mic">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                    <!-- /.toolbar -->
                </div>
                <!-- /.right -->
            </div>
        </div>
        <!-- Development only cdn, disable in production -->
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src='./assets/js/main.js'></script>
    </body>

</html>